@media (max-width: 1080px) {
  #main {
    display: block;
    flex-direction: column;
  }
}

* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header, footer {
  background: yellowgreen;
  height: 20vh;
}
header, footer, p, nav, aside {
  padding: 1em;
}

.nav_item {
  display: inline-block;
  margin-right: 30px;
}

a.nav_item_link {
  font-size: 1.2em;
  text-decoration: none;
}

.main_ad {
  width: 80%;
  height: auto;
  outline: 1px solid black;
  margin: 0 auto;
}

.main_ad_RM {
  width: 1000px;
  height: 120px;
  /* outline: 1px solid black; */
  margin: 0 auto;
}

.main_ad__slider {
  max-width: 900px;
}

.banner_header {
  color: grey;
  font-size: 12px;
  padding: 5px;
  font-size: 1.5em;
  color: #185fff;
}

h2.questions + div ol li {
  font-size: 1.1em;
  padding-bottom: 5px;
}

h2.questions + div ol {
  background-color: #dadaff;
}

#slot {
  width: 720px;
  height: 400px;
  position: relative;
}

#videoSlot {
  width: 100%;
  height: 100%;
}

.video_wrap {
  width: 300px;
  height: 600px;
}

#slot {
  width: 700px;
  height: 400px;
}

#videoSlot {
  width: 100%;
  height: 100%;
}


.ad_inter {
  width: 100%;
  height: 100%;
}

#hb_container {
  width: 300px;
  height: 300px;
}

.main_ad.carousel {
  width: 100%;
}